# Base de Datos MongoDB (Local por defecto o URI de MongoDB Atlas)
DB_URI=mongodb://127.0.0.1:27017/chumpatin_db

# Puerto del Servidor
PORT=5000

# Clave secreta JWT para autenticación
JWT_SECRET_KEY=chumpatin_secret_jwt_party_2026

# Credenciales Mailjet (Para acceso, recuperación y alertas del administrador)
API_KEY_MAILJET=tu_api_key_mailjet
API_SECRET_MAILJET=tu_api_secret_mailjet
MAILJET_FROM_EMAIL=notificaciones@chumpatin.com
MAILJET_FROM_NAME="CHUMPATIN Oficial"

# Frontend URL (Para CORS)
FRONTEND_URL=http://localhost:5173
